*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;  
    
}
body{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(to left,white, rgb(197, 216, 160),ghostwhite);
   margin: 0;
   padding: 0;
   overflow-x: hidden; 


}

.img{
    width: 50px;
    height: 50px;
} 

.nav-container{
    width: 100%;
    display: flex;
    flex-direction: row; 
    top: 0;
    gap:4rem; 
    

    


}

 .navbar{
    display: flex;
    justify-content: space-between;
    background-color:white;
     box-shadow: 10px 5px 5px #1A5D1A;; 
    padding: 0.4rem ;
    width: 100%;


 } 

.navbar .menu{
    display: flex;
    justify-content: flex-end; 
    gap: 2rem; 
    
}
.navbar .hamburger{
    display: none;
    cursor: pointer;
    padding: 10px;
}
.navbar .hamburger i{
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

span{
    color: darkgreen;
    margin: auto;
    font-weight: 900;
}
h3{
    margin-top: 15px;
    margin-left: 10px;
}
.contact-me > h2 {
    color: #1A5D1A;
    margin-left: 150px; 
}

.contact-me> p {
    margin-left: 150px; 
    color: #1A5D1A;

}
.second-container > button{
    transition: transform 1s;
}
.second-container > button:hover{
  animation: animatedButtons 2s ease-in-out;
    

}
.image:hover{
    transition: transform 1s;
    animation: animatedImage 2s ease-in-out infinite;
}

@keyframes animatedImage {
    0%   { transform: translateX(0);}
    50%{transform: translateX(-20px);}
    100%{transform: translateX(0);}

}



@keyframes animatedButtons{
    0%   { transform: translateX(0);}
    50%{transform: translateX(-20px);}
    100%{transform: translateX(0);}
}
.contact-me > p > i {
    padding: 1rem;
}


li{
    list-style: none;
    margin: auto;
    border: 2px solid gainsboro;
    border-radius: 15px;
    

}
li:hover{
    background-color: white;
}
.navbar .menu a{
    margin:30px 40px;
    text-decoration: none;
    color: black;
    
}

#home{
    width: 100%;
}
 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
     gap: 1.5rem; 
    width:100%; 
    max-width: 1200px;   
    margin: 100px auto 0;
    padding: 0 20px;
} 

h1{
    font-size: 2.5rem;
}
.intro{
    display: flex;
    flex-direction: column;
    
    
   

}
.intro  p {
    text-align: justify;
    line-height: 2rem;
    
}
.btn{
    margin-top: 50px;
    padding: 8px;
    width: 200px;
    margin-left: 100px;
    background-image: linear-gradient(yellowgreen,lightgreen);
    border-radius: 8px;
    text-align: center;
    
}
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center; 
     align-items: center;
    gap: 3rem;
    margin-top: 100px;
    justify-content: space-around;
}
.second-container{
    display: grid;
    width: 100%;
    gap: 20px; 
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  max-width:1200px ;  
  margin: 100px ;
     
}
img{
    width: 100%;
    height: auto;
}
hr{
    position: relative;
    width: 100%; 
}
   



.second-container > button{
    padding: 10px;
    width: 100%;
    max-width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px darkslategrey;
}
#technologies{
    margin-right: 650px;
    font-size: x-large;
    font-weight: 600;
    color: #1A5D1A;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 100px;
    height: auto;
    
    
}
.project-inner{
    background-image:linear-gradient(#F6F5F2,#F0EBE3) ;
    width: 100%; 
    max-width: 30%;
    box-shadow: 5px 5px 5px #1A5D1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    
    

}
.project-inner  p{
    line-height: 2rem;
    font-style: oblique;
}
.type{
    text-align: center;
    padding: 5px;
    width:100px;
    box-shadow: 2px 2px 2px #1A5D1A;
    border: none;
}
#contact{
    margin-top: 100px;
    
}
.contact{
    display: flex;
    flex-direction: column;
     margin-top: 50px; 
    justify-content:center ; 
    align-items: center;
    gap: 2rem;
    
    
}
.form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    max-width: 560px;


}
textarea{
    background-color: ghostwhite;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px darkolivegreen;
    padding: 1rem;

}
input{
    width: 100%;
    padding: 1rem;
    background-color: white;
    text-align:left;
    background-color: ghostwhite;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px darkolivegreen;

}
#submit{
    padding: 1rem;
    width: 15%;
    background-color: ghostwhite ;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px darkolivegreen;
}

.footer-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}
.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;

    
}



#text {
    animation: animateText 4s linear infinite;
}

@keyframes animateText {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }

}

.icon {
    font-size: xx-large;
    color: gray;
}






.project-inner > a{
    color: yellowgreen;
    text-decoration: none;
}


.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}


.icon:hover{
    color: black;
}
.footer-p{
    font-style: oblique;
    color: darkslategray;
}



@media(max-width:480px){
    
    .navbar .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #F0EBE3;
        width: calc(100% - 40px);
        box-shadow: 10px 5px 5px darkolivegreen;
        z-index: 1;
    }
    .navbar .menu.show{
        display: flex;
    }
    .navbar .hamburger{
        display: block;
        font-size: 10px;
        margin: 0;

        
        
    }
    .container, .second-container {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 20px; 
        max-width: 100%;
        box-sizing: border-box;
    }
    .btn{
        /* margin-left: auto;
        margin-right: auto; */
    }
    #technologies{
     margin-right: 0; 
         font-weight: 900; 
         color: #1A5D1A; 
         text-align: center;

    }
    .second-container > button{
        margin: auto;
    }
    .project-inner{
        max-width: 70%;
        margin: auto;

    }
    #submit{
        width: 50%;
    }
    .form{
        width: 65%;
    }
    .form > textarea{
        width: 100%;
    }
}  
@media (max-width:768px){
    
    .navbar .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #F0EBE3;
        width: 100%;
        box-shadow: 10px 5px 5px darkolivegreen;
        z-index: 1;
    }
    .navbar .menu.show{
        display: flex;
    }
    .navbar .hamburger{
        display: block;
        
    }
    .container, .second-container {
        grid-template-columns: 1fr;
        margin-top:  150px;
        max-width: 100%;
    }
    .btn{
        /* margin-left: auto;
        margin-right: auto; */
    }
    #technologies{
     margin-right: 0; 
         font-weight: 900; 
         color: #1A5D1A; 
         text-align: center;

    }
    .second-container > button{
        margin: auto;
    }
    .project-inner{
        max-width: 70%;

    }
    #submit{
        width: 50%;
    }
    .form{
        width: 65%;
    }
    .form > textarea{
        width: 100%;
    }
    #submit{
        width: 50%;
    }
    .form{
        width: 65%;
    }
    .form > textarea{
        width: 100%;
    }


}
 

 


